@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    font-family: 'Raleway', sans-serif;
    color: #616060;
    padding-top: 80px;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(247, 186, 186);
    border-radius: 30px;
}
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
}

.auth-screen {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #fff;
    position: fixed;
    height: 60px;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header .logo {
    color: #7169ea;
    font-weight: bold;
    font-size: 30px;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin-right: 15px;
}

.log-out {
    border: 1px solid #7169ea;
    background: transparent;
    color: #7169ea;
    text-transform: uppercase;
    padding: 6px 8px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}
.log-out:hover {
    background-color: #7169ea;
    color: #fff;
}

.open-list-form-btn {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #7169ea;
    color: #fff;
    position: fixed;
    border-radius: 100%;
    border: 0;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px;
    cursor: pointer;
}

.open-list-form-btn:hover,
.open-list-form-btn:focus {
    outline: none;
    border: 0;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(247 247 247 / 85%);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal .modal-content {
    background-color: #fff;
    width: 400px;
    border-radius: 6px;
    padding: 0;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px;
}

.modal .modal-head {
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
    position: relative;
}

.modal .modal-head .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

.modal .modal-body {
    padding: 20px;
}

.modal .modal-head .modal-close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: auto 0;
    bottom: 0;
    top: 0;
    right: 10px;
    font-size: 20px;
}

input {
    width: calc(100% - 20px);
    height: 40px;
    border: 1px solid #d0cccc;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 18px;
}

input:focus {
    outline: none;
    border-color: #7169ea;
}

input::placeholder {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    color: #bdbaba;
}

.btn {
    background-color: #7169ea;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 18px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
}

.btn:focus
.btn:hover {
    outline: none;
    border: 0;
}

.btn:hover {
    background-color: #38cb89;
}

.form .form-field {
    padding: 10px 0;
}

.form .form-btn {
    text-align: center;
    padding-top: 20px;
}

.card {
    background-color: #fff;
    width: 400px;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px;
    padding: 20px;
    border-radius: 6px;
}



